body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.textHMC
{
    font-family: Arial, sans-serif;
     color: #09375D;
    font-weiht: bold;
}
.container1 {
    max-width: 800px;
    height: 95px;
    margin: 5px auto;
    padding: 10px;
    background: #fff;
    
}

.section1{
    max-width: 800px;
    height: 80px;
display: inline-block;
     
}

.section2{
    max-width: 400px;
    height: 17px;
display: inline-block;
padding: 10px;
margin: 5px auto;
   
     
}
img 
{
    width: 200px;
    height: 100px;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    page-break-after: always;
}

h1 {
    text-align: center;
    color: #09375D;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    color: #09375D;
    text-transform: uppercase;
}

.section {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 200px;
    font-weight: bold;
}

span {
    display: inline-block;
    width: calc(100% - 220px);
    border-bottom: 1px solid #000;
}

.textarea {
    height: 100px;
    border: 1px solid #000;
    padding: 10px;
    white-space: pre-wrap; /* Para preservar los saltos de línea */
}
